
--find-links https://download.pytorch.org/whl/cu128
torch==2.6.0
torchvision==0.21.0 
torchaudio==2.6.0 

--find-links https://data.pyg.org/whl/torch-2.6.0+cu128.html
torch_scatter 
torch_sparse 
torch_cluster 
torch_geometric

addict 
scipy 
spconv-cu124
open3d
toml
mcap-protobuf-support
foxglove-schemas-protobuf
opencv-python
pandas
timm
#flash-attn 
dinotool
dinov2 
ffmpeg-python